@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

.app {
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.appHeader {
  background-color: #222;
  height: 25px;
  padding: 20px;
  color: white;
}

.brandname {
  margin: 0;
  border-bottom: 1px black solid;
  margin-bottom: 16px;
}

.appIntro {
  margin-top: 19px;
  font-size: large;
}

.logo {
    width: 65px;
    height: 65px;
    padding: 5px;
    border: 2px solid #b1b1b1;
    border-radius: 50%;
    margin-top: -11px;
    position: absolute;
    left: 6px
}

.spin {
  animation: appLogo-spin infinite 1s linear;
}

@keyframes appLogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn{
  background: transparent;
  padding: 15px;
  margin: 0 15px;
  font-size: 26px;
  cursor: pointer;
}
