.app {
  text-align: center;
}

.appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.appHeader {
  background-color: #222;
  height: 25px;
  padding: 20px;
  color: white;
}

.brandname {
  margin: 0;
  border-bottom: 1px black solid;
  margin-bottom: 16px;
}

.appIntro {
  font-size: large;
}

@keyframes appLogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
